# IDE and build system
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Maven/Java
.mvn/wrapper/maven-wrapper.jar
.sts4-cache
.project
.settings
nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
target/

# Node/React frontend
src/main/resources/static/frontend/node_modules/
src/main/resources/static/frontend/build/
src/main/resources/static/frontend/.next/
src/main/resources/static/frontend/.cache/
src/main/resources/static/frontend/.env*
src/main/resources/static/frontend/npm-debug.log*
src/main/resources/static/frontend/yarn-debug.log*
src/main/resources/static/frontend/yarn-error.log*
src/main/resources/static/frontend/.DS_Store
src/main/resources/static/frontend/.vscode/

# Ignore all backend and frontend build/target folders
**/target/
**/build/

# General
.DS_Store
.env*
*.log
